html, body { 
    margin: 0; 
    padding: 0; 
}
nav { 
    background-color: rgb(255, 0, 0);
    padding: 10px;
    position:fixed; 
    top:0px; 
    margin-bottom: 100px;
    width: 100%;
}
a {
    color: #000000;
    text-decoration: none;
    margin-left: 170px;
    padding: 4px;

}
a:hover {
    background-color: aquamarine;
    transition-duration: 0.5s;
    border-radius: 60px;
}
 .pageButton {
    background-color: rgb(255, 0, 0);
    border-radius: 60px;
    padding: 4px;
    
  }
  .pageButton:hover {
    background-color: aquamarine;
    transition-duration: 0.5s;
  }
  body {
    background-color:rgba(255, 140, 140, 0.468)
  }
  .test {
    padding: 500px;
  }
  main { 
    margin-top: 40px;
    font-size: xx-large;
  }
 #ironCross {
    padding-top: 225px;
    z-index: -1;
 }
 article {
    margin-top: 40px;
    font-size: larger;
 }
 ul {
    margin-top: 40px;
    font-size: larger;
 }
 #ictImage {
    padding-top: 225px;
    z-index: -1;
 }
 #ictImage2 {
    padding-top: 225px;
    z-index: -1;
 }